.tick line{
  opacity: 0.2;
  stroke-dasharray: 2 2; 
}
.question{
  display: inline-block;
}

h2{
  margin: 40px 0 40px 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 7%;
}

.footer {
   color: #888888;
   font-size: 13px;
   text-align: right;
}

#states path {
 fill: #ccc;
 stroke: #fff;
}


.links line {
  stroke: #999;
  stroke-width:2;
  stroke-opacity: 0.5;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

.line-input{
  max-width: 20px;
}

.line-graph{
  padding: 5%;
}

/* tooltip adapted from https://bl.ocks.org/mbostock/1087001 */

.tooltip {
  color: white;
  position: absolute;
  text-align: center;
  width: 80px;
  height: 12px;
  padding: 8px;
  margin-top: -20px;
  font: 10px sans-serif;
  pointer-events: none;
}

